#sublist {
    background-color: #2b2d31;
    position: relative;
}
#window {
    background-color: #313338;
    position: relative;
}
#home {
    display: grid;
    grid-template-columns: 72px 240px 1fr;
    height: 100vh;
}