#sublist {
    background-color: rgba(43,45,49,255);
    position: relative;
}
#window {
    background-color: rgba(49,51,56,255);
}
#home {
    display: grid;
    grid-template-columns: 72px 240px 1fr;
    height: 100vh;
}