#sublist {
    background-color: #2b2d31;
    position: relative;
}
#window {
    background-color: #313338;
    position: relative;
}
#home {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1a1b1e; 
    border-radius: 4px; 
  }
  ::-webkit-scrollbar-track {
    background-color: #2b2d31; 
  }
  #username, input[type="Submit"]{
    color: white;
    border: none;
    background: none;
    background-color: #35373c;
}